.a1{
    height:50px;
}
.a2{
    color:brown;
}
.a3{
    color: blanchedalmond;
}
.sec2{
    background-image:url(images\ brisket.jfif);
    background-size: cover;
}
.sec3{
    background-color: black;
}
.inbox1{
   padding: 100px 0px;
    text-align: center;
}
.a4{
    color: white;
    text-align: center;
    font-size: 100px;
}
.a5{
    font-size: 100px;
    color: white;
}
.a6{
    color: white;
    text-align: center;
    font-size: 25px;
}
.a7{
    margin-top: 20px;
    color: aliceblue;
}
.inbox2{
    background-color: black;
    height: 250px;
}
.inbox3{
    background-color: black;
    padding: 73px 0px;
}
.a8{
    color: white;
    font-family: 'Gill Sans';
    text-align: center;
}
.inbox4{
    background-color: black;
    height: 250px;
}
.sec4{
    background-image: url(restaurant.webp);
    background-size: cover;
}
.inbox5{
    padding: 200px 0px;
    text-align: center;
}
.a9{
    color: white;
    font-size: 50px;
    text-align: center;
}
.a10{
    color: white;
    font-size: 20px;
}
.a11{
    text-align: center;
    font-size: 20PX;
    margin-top: 10px;
    color: white;
}
.line1{
    background-color: white;
    height: 2px;
    width: 30%;
    margin: auto;
}
.a12{
    margin-top:30px;
    color: aliceblue;
}
.sec5{
    background-image: url(l.jpg);
    background-size: cover;
}
.inbox6{
    padding: 100PX 0PX;
    text-align: center;
}
.a13{
    font-size:50px;
    font-family:Georgia;
    color: white;
    text-align: center;
}
.a14{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}
.a15{
    margin-top: 30px;
    color:white;
}
.inbox8{
   
    padding: 100px 0px;
}
.a16{
    color: black;
    font-family: 'Gill Sans';
    text-align: center;
}
.sec6{
    background-image: url(Dining.jpg);
    background-size:cover ;
}
.sec7{
    background-image:url(alcohol.jpg);
    background-size: cover;
    
}
.a17{
    font-size:50px;
    font-family:sans-serif;
    color: white;
    text-align: center;
}
.a18{
    font-size:50px;
    font-family:sans-serif;
    color: white;
    text-align: center;
}
.inbox10{
    padding: 100PX 0PX;
    text-align: center;
}
.line2{
    background-color: white;
    height: 2px;
    width: 40%;
    margin: auto;
}
.a19{
    font-size:20px;
    font-family:serif;
    color: white;
    text-align: center;
    padding: 50px;

}
.a20{
    color:white;
    margin-top: 20px;
}
.inbox11{
    padding:150PX 0PX;
    text-align: center;
}
    
.sec8{
    background-image: url(drink\ men.webp);
    background-size: cover;
}
.a21{
    color: white;
    margin-top:20px;
    font-size: 75PX;
}
.a22{
    color:white;
    font-size: 20px;
    margin-top: 20px;
}
.a23{
    color:black;
    margin-top: 30px;
    text-align: center;
}
.a24{
    color:black;
    font-size: 30px;
    text-align: center;
}
.sec9{
    background-image: url(family.jpg);
    background-size: cover;
}
.inbox13{
   
    padding: 50px 0px;
}
.sec10{
    background-image:url(men\ shef.jpeg);
    background-size: cover;
}
.inbox15{
   padding: 100px 0px;
   text-align: center;
}

.a25{
    font-size: 75px;
    color: white;
}
.line3{
    background-color:white;
    height: 2px;
    width: 45%;
    margin: auto;
}
.a26{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}
.a27{
    color: white;
    margin-top: 30px;
    text-align: center;
}

.inbox16{
    background-image: url(R\ IMG.jpg);
    background-size: cover;
    height: 300px;
    text-align: center;
    padding-top: 100px;

}
.a223{
    color: white;
    margin-top: 30px;
    text-align: center;
}
.a28{
    text-align: center;
    margin-top: 20px;
    margin-right:175px;
    color: white;
    
}
.a100{
    text-align: center;
}
.a30{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family:'Gill Sans';
}
.a29{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    color: white;
    /* margin-right:175px; */
   
}
.a35{
    margin-left: 0px;
    margin-top: 20px;
    color: white;
}
.a31{
    text-decoration: none;
    color: white;
    
}
.a34{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.inbox18{
    text-align: left;
}
.a36{
    font-size: 15px;
    color: white;
}
.a32{
    margin-left: 0px;
    margin-top: 20px;
    color: white;
}
.a37{
    color: white;
}
.sec11{
    background-color:rgba(0, 0, 0, 0.695);
    
}
.inbox20{
    height:100px;
    background-color: black;
    padding-top: 35px;
}
.a39{
    font-size: 20px;
}
.inbox21{
    height:100px;
    background-color: black;
    padding-top: 35px;
    text-align: right;
}
.sec12{
    background-color: black;
}
.bi{
    color: white;
}
.opacity{
    background-color: rgba(255, 255, 255, 0.685);
    height: 100%;
    width: 100%;
}
.q1{
    height: 1px;
    width:150px;
    background-color:rgba(255, 255, 0, 0.47);
    line-height: 2px;
    margin-bottom: 15px;
    
}
.inbox2{
    padding-top: 30%;
  
}
.q2{
    height: 1px;
    width: 200px;
    background-color: rgba(255, 255, 0, 0.47);
   
    margin-bottom: 15px;
    
}
.opacity1{
    background-color: rgba(255, 166, 0, 0.374);
    height: 100%;
    width: 100%;
}
.inbox4{
    padding-top: 30%;
  
}
.q3{
    height: 1px;
    width:150px;
    background-color:rgba(255, 255, 0, 0.47);;
 
    line-height: 2px;
    margin-bottom: 15px;
    
}
.q4{
    height: 1px;
    width: 200px;
    background-color: rgba(255, 255, 0, 0.47);;
   
    margin-bottom: 15px;
    
}
.inbox7{
    padding-top: 35%;
  
}
.q5{
    height: 1px;
    width:150px;
    background-color:black;
    line-height: 2px;
    margin-bottom: 15px;
    
}
.inbox9{
    padding-top: 35%;
  
}
.q6{
    height: 1px;
    width: 200px;
    background-color:black;
   
    margin-bottom: 15px;
    
}
.q7{
    height: 1px;
    width:150px;
    background-color:black;
 
    line-height: 2px;
    margin-bottom: 15px;
    
}
.q8{
    height: 1px;
    width: 200px;
    background-color: black;
   
    margin-bottom: 15px;
    
}
.inbox12{
    padding-top: 40%;
  
}
.q9{
    height: 1px;
    width:150px;
    background-color:black;
    line-height: 2px;
    margin-bottom: 15px;
    
}
.q10{
    height: 1px;
    width: 200px;
    background-color:black;
   
    margin-bottom: 15px;
    
}
.inbox14{
    padding-top: 40%;
  
}
.q11{
    height: 1px;
    width: 200px;
    background-color: black;
   
    margin-bottom: 15px;
    
}
.q12{
    height: 1px;
    width: 200px;
    background-color: black;
   
    margin-bottom: 15px;
    
}
@media(max-width:400px){
    .a4{
        font-size: 70px;
    }
    .a25{
        font-size: 40px;
    }
    .a13{
        font-size: 40px;
    }
    .a18{
        font-size: 40px;
    }
    .inbox21{
        text-align: left;
    }
}
    